body {
    margin: 0;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas {
    border: 4px solid white;
    background-color:#5c94fc;
    box-shadow: 0 10px 30px rgba(180,150,140,0.05) 
}